body {
    margin: 0;
    padding: 0;
   background-color: #2B2828;

}

/*Banner at the Top and Logo */




.anibanner{
        width: 100%;
        height: 250px;
}



#logo1 {    
    width: 120px;
    height: 80px;
    
}

/* Navigation Bar */

.navbar{
    display: flex;
    background-color: #400C84;
    margin:0;  
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
                      
}

.navbar ul {
    display: flex;      
    list-style-type: none;
    flex-wrap: nowrap;
    
    
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 20px;
    text-transform: capitalize;

        
}

.navbar a:hover{
    color: #cc93c0;
    transition: 0.3;
}


/* Navigation Bar Buttons */



.but1{

    border-radius: 40px;
    width: 100px;
    height: 40px;
    margin: 30px;
    background-color: black;
    color: white;
}

.but2{
 border-radius: 40px;
  width: 100px;
  height: 40px;   
  background-color: black;
  color: white;
  margin-right: 190px;
}



/* Home Page Styling */




        /* Carousel  */
#carousel{
    margin: 20px auto;
    /* background:#593688;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); */

    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    padding: 80px;
    color: white;
}



        /* Popular Anime Section and Review Sections  */
.Sectpop{
    margin: 30px 230px;
    /* background:#593688;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); */
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    padding: 5px;
    color: white;
    text-align: center;
}

.secthead{
    padding-bottom: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px red;
    font-size: 30px;
    max-width: 1200px;
    
}
.gridpop{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
        
} 

.popanime{
    width: 200px;
    height: 250px;
  
}

.poplink{
    text-decoration: none;
    color: white;
}

                        /* Home page button Code from Gradient with minor modifications  */
         
.homebutton {
    background-image: linear-gradient(to right, #200122 0%, #6f0000  51%, #200122  100%);
    margin: 60px 30px;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 250px;
           
  }



  .homebutton:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 

  
/* Styling for each anime pages */


  .animepages{ 
    margin: 10px 30px;
    /* background-color: #a584bd;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); 
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); */
    background:#ece4f5;
    padding: 10px;
    color:black;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
 }


  .pagesimg{
    width: 300px;
    height: 400px;  
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 20px;
  }

  .content{
    margin-left: 40px;
    grid-column: 3;
    grid-row: 1 / span 2;
   
  }

   .content h1{
    text-align: center;
    font-size: 30px;
  }

  .content h2{
    color: black;
  }

  .content p{
    font-size: 20px;
  }

  .tags{
    margin-bottom: 500px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
  }

  .insidetags {
        font-weight: bold;
        font-size: 22px;
  }




/* Recommendation Page Styling */

.category2{
    padding: 75px 0;
    text-transform: uppercase;
    color: white;
    font-size: 27px;
    
}




#latestReview{

    margin: 30px 230px;
    background:#593688;
    padding: 100px;
    color: white;

}

  


           /* Footer  */

#footer{
    margin: 0;
    background-color: #400C84;
    align-items: center;
}

#footerlogocont{
    margin: 0 40px;
}

.footerlogo{
    width: 120px;
    height: 80px;
    
}


.footlist{
    display: flex;
    flex-direction: column;    
    align-items: center;
    color: white;
       
}

.footlist ul li{
    list-style: none;
    padding: 10px;
}
           










/* Contact Us form Styling */

#contactinfo{    
    margin: 50px;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    text-align: center;
    color: white;
    padding-bottom: 150px;
    
}



.formhead{
    margin-bottom: 50px;
    padding:5px 30px;
}

.formhead h2{
    font-size: 25px;
    
}

.formhead p{
    font-size: 20px;
}

.contform{
    display: flex;
    text-align:left ;
    margin: 0 auto;
    color: white;
    max-width: 1200px;
    
}

.contform {
    flex: 1;
}

.contlabels label{
    display:block;
    margin:15px 10px;
    
}

.contlabels input {
    border-radius: 30px;
    padding: 20px 20px;
    margin: 10px ;
    width: 150%;
    border: 0;
    
}



.messagebox {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 300px;
    
}

.messagebox textarea{
    height: 330px;
    resize: none;
    margin-top: 20px;
}




/* Contact Us form button Code from Gradient Website  */
.formsubmit{          
    
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    margin: 30px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.formsubmit:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }






  @media (max-width: 768px) {
    /* CSS rules for smaller screens */
}

          
         

 


